form {
    display: flex;
    flex-flow: row nowrap;
    column-gap: 1.5rem;
    select {
        border: 1px solid #EB95AD;
        outline: 0;
        height: 2rem;
        background-color: transparent;
        color: #EB95AD;
        padding: .3rem;
        box-sizing: content-box;
        font-size: 1rem;
        option {
            background-color: #f2f2f2;
            color: #333;
            font-size: 16px;
            padding: 10px;
            &:hover{
                background-color: #EB95AD;
            }
        }
    }

    button{
        cursor: pointer;
        background-color: transparent;
        border: 1px solid #EB95AD;
        color:  #EB95AD;
        padding-inline: 1rem;
        &:hover {
            border: 1px solid #fff;
            color: #fff;
        }
    }
}