<section class="container-fill">
    <div id="player">
        <img class="logo" src="assets/images/svg/logo.svg">
        
        <h6>TOCANDO AGORA</h6>

        <div class="slider">
            <div class="anter"></div>

            <div class="principal">
                <img class="capa" src="assets/images/outros/gnrs.jpg">
            </div>

            <div class="prox"></div>
        </div>

        <h3>SWEET CHILD O'MINE</h3>
        
        <div class="line"></div>

        <div class="bottons">
            <img class="prev" src="assets/images/svg/prev.svg">
            <img class="play" src="assets/images/svg/play.svg">
            <img class="next" src="assets/images/svg/next.svg">
        </div>

    </div>
    <div id='lista'>
        <div class="playlist">
            <h1>PLAYLIST</h1>
            <label></label>
        </div>
        <div class="create-music">
            <app-select-music (addMusic)="addListCircular($event)"></app-select-music>
        </div>
    </div>
</section>
